* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  /* max-width: 750px; */
  margin: 0 auto;
  background: #23424a;
  color: white;
  padding: 50px 15%;
}

.intro-content {
  max-width: 1200px;
  /* padding: 20px; */
}

h2,
p {
  margin: 1em 15%;
}
